<!--<svg id="fascia2" width="880" height="331" fill="none">
  <path d="M1 330L833 -710L897 47L650.212 330H1Z" fill="#FF4657" />
  <path d="M878.5 68L176.5 111L0 330.5L655.145 330L786.176 179.231L878.5 68Z" fill="url(#paint0_linear)" />
  <defs>
    <linearGradient id="paint0_linear" x1="395.843" y1="114.261" x2="395.843" y2="329.504"
      gradientUnits="userSpaceOnUse">
      <stop stop-color="#FF4657" />
      <stop offset="1" stop-color="#101823" />
    </linearGradient>
  </defs>
</svg>-->

<!--<svg id="fascia1" width="852" height="430" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M849.545 429.995H335.785L22.4936 42.2572L-168 -193.503V-817L849.545 429.995Z" fill="#FF4657" />
  <path d="M587.331 109.158H76.1956L335.335 430H851.017L587.331 109.158Z" fill="url(#paint0_linear)" />
  <defs>
    <linearGradient id="paint0_linear" x1="462.632" y1="109.158" x2="462.632" y2="430" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FF4657" />
      <stop offset="1" stop-color="#101823" />
    </linearGradient>
  </defs>
</svg>-->


<Top-Menu></Top-Menu>
<router-outlet></router-outlet>