<Top-Menu-Simple></Top-Menu-Simple>
<style>

</style>
<div class="container pagina">
    <div class="spazioAds"></div>
    <div class="Statistiche">
        <div class="container">
            <div class="Player">
                <img src="./assets/data/StandardIcon.png" alt="icona">
                <span class="nomePlayer">{{player.Nome}}</span>

            </div>
            <div class="child1">
                <app-grafico></app-grafico>
            </div>
            <div class="child1">
                <img src={{this.player.rankimg}}>
            </div>
            <div class="child1 containerRefresh">
                <div class="bottoneRefresh " (click)="RefreshPlayer()">
                    <span>Refresh</span>
                </div><br>
                <span>Refreshed 10h ago</span>

            </div>
            <div class="child1">
                <Carta>
                </Carta>
            </div>
        </div>
        <MatchHistory></MatchHistory>

    </div>
    <div class="spazioAds"></div>
</div>