@font-face {
    font-family: Digital;
    src: url("../Montserrat-Black.ttf");
  }

span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.Statistiche span{
    color:#fff;
}

/*NomePlayer*/


.Player{
    
    position: relative;
    flex-direction: column;
    align-items: center;
    flex:0.5;

}
span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size:1.3vw;
}
.Player img{
    flex:1;
    order:1;
    object-fit: contain;
    margin:0;
    width: 100%;

}
.nomePlayer{
    background: #102645;
    order:2;
    margin:0;
    display: inline-block;
    text-align: center;
    width:100%;

}

/*Generale*/
.container{
    display: flex;
   
}
.spazioAds{
    flex:1;
}
.pagina{
    height: 90vh;
}
.Statistiche{
    position: relative;
    margin-top:2vw;
    flex:8;
    justify-content: baseline;
}
.bottoneRefresh{
    background-color: #FF4657;
    border: none;
    color: white;
    padding: 0.5vw 0.6vw;
    text-align: center;
    display: inline-block;
    border-radius: 2vw;
    cursor: pointer;
}
.child1{
    flex:1;
}
.containerRefresh{
    text-align:center;
}

