@font-face {
    font-family: Digital;
    src: url("../Montserrat-Black.ttf");
  }

span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color:white;
    line-height: 15px;
    width: 100%;
}

.carta{
    margin-top: 50px;
    position: relative;
}
.menu{
    position: absolute;
    width: 50%;
    height: 100px;
    background: #FF4657;
    border: 1px solid rgba(16, 24, 35, 0.46);
    box-sizing: border-box;
    border-radius: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    

}
.body{
    width: 100%;
    position: relative;
    height: 500px;
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 14px;

}
.menu>div{
    position: relative;
    padding:10px;
    width: 80%;
    text-align: center;
    vertical-align: sub;
    line-height: 29px;
    align-self: center;
    margin: 0;
    flex:1;
    cursor: pointer;

}
.menu>div>span{
    margin-top: 100px;
    color:black;
    font-size: 24px;
    vertical-align: auto;
    font-weight: bolder;
    font-family: Digital;
    font-style: normal;
    font-weight: 100;
    color: #101823;
    
}
.menu>div:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 25px;
}

.indice>span{
    color:white !important;
    
}
