<div class="container">
    <div class="FasciaSinistra container">
        <div id="SpazioSx"></div>
        <div class="Titolo container">
            <img id="logo" src="../../assets/data/Logo.png">
            <p class="Nome">alorantStats</p>
        </div>

        <div id="SpazioDx"></div>
    </div>
    <div class="Spaziatore"></div>
    <div class="FasciaDestra container">
        <!--Blank space-->
        <a class="SpazioSxFasciaDx"></a>


        <a href="/" class="menu testo selected">Players<div class="Indice"></div></a>
        <a href="/Weapons" class="menu testo ">Weapons</a>
        <a href="Heroes" class="menu testo">Heroes</a>
        <a class="SpazioDxFasciaDx"></a>


    </div>
</div>