@font-face {
  font-family: Digital;
  src: url("/assets/data/Fonts/digitalt-24384/Digitalt-04no.ttf");
}
.testo {
  font-family: Digital;
  font-style: normal;
  font-weight: 100;
  color: #101823;
}
#logo {
  height: 3vw;
  object-fit: contain;
}
.Nome {
  margin: 0;
  margin-top: 0.5vw;
  position: relative;
  align-self: flex-start;
  font-family: Digital;
  font-style: normal;
  font-weight: 100;
  color: #101823;
  font-size: 3vw;
}
.FasciaSinistra {
  background: linear-gradient(180deg, #ff4657 0%, #101823 100%);
  height: 20vw;
  flex: 2;
  clip-path: polygon(0 0, 70% 0%, 100% 100%, 30% 100%);
  transform: translateX(-40px);
  justify-content: center;
}
.Titolo {
  height: 3vw;
  flex: 5;
  order: 1;
}
#SpazioSx {
  flex: 1;
  order: 1;
}
#SpazioDx {
  flex: 2;
  order: 3;
}
.FasciaDestra {
  background: linear-gradient(180deg, #ff4657 0%, #101823 100%);
  flex: 2;
  height: 10px;
  clip-path: polygon(30% 0, 100% 0, 74% 100%, 0 100%);
  height: 15vw;
}
.SpazioSxFasciaDx {
  flex: 5;
}
.SpazioDxFasciaDx {
  flex: 1;
}
.menu {
  align-self: flex-start;
  flex: 4;
  text-decoration: none;
  text-align: center;
  position: relative;
  font-size: 1.8vw;
}
.Indice {
  background-color: white;
  border-radius: 25px;
  width: 75%;
  position: absolute;
  height: 5px;
  margin-left: 10%;
}
.selected {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}
.menu:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}
.FasciaDestra > * {
  margin-top: 0.5em;
}
.Spaziatore {
  background-color: #101823;
  height: 1px;
  flex: 1;
}
.container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1800px) {
  .FasciaSinistra {
    height: 30vw;
  }
  .FasciaDestra {
    height: 20vw;
  }
  .menu {
    font-size: 2vw;
  }
  .Nome {
    font-size: 2.5vw;
    margin-top: 1vw;
  }
}
