$primary:#101823;
$secondary:#FF4657;
$grandezzaFasce:25vw;

#fascia2{
    
    object-fit: contain;
    width: 45vw
}

#fascia1{
    width: 45vw;
    object-fit: contain;
}

.centeredLeft > span{
  font-size: 2.8vw;
}


.containerLeft {
  float:left;
  position: relative;
  text-align: center;
}
.containerRight{
  float: right;
  position: relative;
  text-align: center;
}
.centeredLeft {
  position: absolute;
  top: 40px;
  left: 37%;
  transform: translate(-50%, -50%);
}
.centeredRight {

  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lista{
  float: right;
}

.centeredRight > a > span{
  font-size: 1.7vw;
  
}
a:link {
  text-decoration: none;
}


@media screen and (max-width: 1800px) {


  }

@media screen and (max-width: 1300px) {

  }

  @media screen and (max-width: 800px) {
    #fascia1{
        width: 0;
      }
    #fascia2{
        width: 0;
    }



  }


  /*FASCIA SINISTRA*/
#logo{
  padding-top: 1vh;
  height: 3vh;
  object-fit: contain;

}

.Nome{
  align-self: flex-start;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 1000;
  color: #101823;
  font-size:2vh;
  margin-bottom: 20px;
}

.FasciaSinistra{
  background: linear-gradient(180deg, #FF4657 0%, #101823 100%);
  height: 30vh;
  flex:2;
  clip-path: polygon(0 0, 70% 0%, 100% 100%, 30% 100%);
  transform: translateX(-40px);
  justify-content: center;
}
.Titolo{
  flex:2;
  order:1;
}
#SpazioSx{
  flex:1;
  order:1;
}
#SpazioDx{
  flex:1;
  order:3;
}


/* FASCIA DESTRA */

.FasciaDestra{
  background: linear-gradient(180deg, #FF4657 0%, #101823 100%);
  flex:2;
  height: 10px;
  clip-path: polygon(30% 0, 100% 0, 74% 100%, 0 100%);
  height: 20vh;
}

/* CONTAINER */


.Spaziatore{
  background-color: $primary;
  height: 1px;
  flex:1;
}


.container{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
 
}