<a href="/">
    <div class="containerLeft">
        <img id="fascia1" src="../../assets/data/fascia1.png" />
        <div class="centeredLeft">
            <img src="../../assets/data/Logo.png" id="logo" />
            <span>alorant Stats</span>
        </div>
    </div>
</a>

<div class="containerRight">
    <img id="fascia2" src="../../assets/data/fascia2.png" />
    <div class="centeredRight lista">
        <a href="/"><span> Players </span></a>
        <a href="/Weapons"><span>Weapons </span></a>
        <a href="/Agents"><span>Agents </span></a>
    </div>
</div>